

.mast-head {
  text-align: center;
  border: 4px solid red;
  /*position: fixed;*/
  right: 20%;
}



.map {
position: relative;
}

.map img {
  width: 100%;
  height: 100%;
  position: relative;
}
.animals {


}
#aye {
  position: absolute;
  height: 10%;
  width: 5%;
  right: 40%;
  bottom: 50%;
}
 p {
   position: absolute;
   height: 10%;
   width: 5%;
   right: 40%;
   bottom: 50%;
   font-size: 80%;
}

#beetle {
  position: absolute;
  height: 10%;
  width: 5%;
  right: 45%;
  bottom: 80%;
  border-radius: 5px;
}
#beluga {
  position: absolute;
  height: 10%;
  width: 5%;
  right: 45%;
  bottom: 5%;
  border-radius: 5px;
}
#bison {
  position: absolute;
  height: 10%;
  width: 5%;
  left: 18%;
  top: 18%;
  border-radius: 5px;
}
#frog {
  position: absolute;
  height: 10%;
  width: 5%;
  left: 30%;
  bottom: 30%;
  border-radius: 5px;
}

#bandi {
  position: absolute;
  height: 10%;
  width: 5%;
  right: 15%;
  bottom: 25%;
  border-radius: 5px;
}

#iguana {
  position: absolute;
  height: 10%;
  width: 5%;
  left: 20%;
  top: 35%;
  border-radius: 5px;
}

#turtle {
  position: absolute;
  height: 10%;
  width: 5%;
  right: 35%;
  top: 30%;
  border-radius: 5px;
}

#turtle {
  position: absolute;
  height: 10%;
  width: 5%;
  right: 35%;
  top: 30%;
  border-radius: 5px;
}


#ray {
  position: absolute;
  height: 10%;
  width: 5%;
  left: 5%;
  top: 30%;
  border-radius: 5px;
}

#squirrle {
  position: absolute;
  height: 10%;
  width: 5%;
  right: 20%;
  top: 20%;
  border-radius: 5px;
}
